<div class="page-title">
  <button
    class="waves-effect waves-light btn grey darken-1"
    routerLink="/contacts/new"
  >Добавить контакт</button>

</div>

<div class="row" *ngIf="contact$ | async as contacts; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="contacts.length !== 0; else empty">
      <a
        *ngFor="let contact of contacts"
        [routerLink]="['/contacts', contact._id]"
        class="collection-item black-text"
      >
        {{contact.firstname}} {{contact.lastname}}

      </a>
    </div>

    <ng-template #empty>
      <div class="center">
        Список контактов пуст
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
